# Data and Models
*.pth

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDEs
.vscode/
.idea/
.DS_Store

# Original content
/external/*
!/external/smplify-x
!/external/human_body_prior
!/external/EasyMocap
/common_models/*
!/common_models/README.md