# Data and Models
*.pth
model_files/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDEs
.vscode/
.idea/
.DS_Store

# Original content
/external/*
!/external/smplify-x
!/external/human_body_prior
!/external/EasyMocap
!/external/mmpose
!/external/Hybrik
/common_models/**
!/common_models/
!/common_models/**/
!/common_models/**/*.md
!/common_models/**/.gitkeep